.usersContainer {
    position: relative;
}

.image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.userWrapper {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 14px;
    font-weight:900;
    text-decoration: underline;
    border-bottom: 1px solid #ff37e8;
    padding: 10px;

}
.photoAndButton {
    display: flex;
    flex-direction: column;
   align-items: center;
}
.location {
    justify-content: space-between;
}
.followButton {
    height: 30px;
    width: 90px;
    background-color: #ff37e8;
    border: none;
    font-size: 12pt;
    color: white;
    font-weight: 600;
    text-decoration: underline;
}
.selectedPage {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
.selectedPage:hover{
    cursor: pointer;
}
.spanContainer {
    overflow: scroll;
}
span{
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.preloader {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 43%;
    left: 43%;
    z-index:100;
}