.wrapWalper{
    height: 300px;
    width: 100%
}
.walper {
   object-fit: cover;
    width: 100%;
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid white;


}
.avatar {


}
.aboutUser {
    color: white;
    font-size: 16pt;
    font-style: italic;
    text-decoration: underline;
    margin-left: 20px;
}
