.dialogs {
    display: grid;
    grid-template-columns: 2fr 3fr;
    color: white;
    font-size: 14pt;
    padding-right: 10px;
}

.dialog{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}

.dialogItem{
    display: block;
    box-sizing: border-box;
    border: 1px solid white;
    flex-basis: 50px;
    margin-bottom: 10px;
    width: auto;
    padding-left: 10px;
    vertical-align: center;
}

.dialog a {
    text-decoration: none;
    font-style: italic;
}

.dialog a:visited {
    color: white;
}

.dialog a.active {
    color: black;
}

.dialog a:active {
    color: black;
}

.dialog a:hover {
    background-color: rgba(2, 88, 145, 0.356);
    color: black;
}

.dialogItem:before{
    content: '';
    display: block;
    position: relative;
    float: left;
    height: 50px;
    width: 50px;
    background-color: antiquewhite;
    border-radius: 50%;
    margin: 10px;
}

.messages {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid white;
    margin-top: 10px;
    padding: 10px;
}

.messageItem:nth-child(odd) {
    max-width: 75%;
    background-color: cornflowerblue;
    padding: 5px;
    align-self: flex-start;
    margin-bottom: 5px;
}

.messageItem:nth-child(even) {
    max-width: 75%;
    background-color: #ee98aa;
    padding: 5px;
    align-self: flex-end;
    margin-bottom: 5px;
}